displayName: Analytics Script Injector
type: middleware
iconPath: .assets/icon.png

import: github.com/jubnl/traefik-umami-tag-injector

summary: Injects an analytics <script> tag into HTML responses based on a per-site website ID.

testData:
  scriptSrc: "https://analytics.jubnl.ch/script.js"
  websiteId: "c1df940e-066c-40df-a48a-fb0c92eac0a3"
  defaultWebsiteID: "c1df940e-066c-40df-a48a-fb0c92eac0a3"
  websiteIdHeader: "X-Analytics-Website-Id"
  maxLookaheadBytes: 131072
  injectBefore: "</head>"
  alsoMatchBodyClose: true
